In [2]:
def greet(name):

    """Greets a person by their name."""
    return f"Hello, {name}!"

message = greet("Arpita")
print(message)  # Output: Hello, Alice!

Hello, Arpita!

In [4]:
def add(a, b):

    """Returns the sum of two numbers."""
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

In [10]:
def introduce(name, age=23):

    """Introduces a person with their name and age."""
    return f"My name is {name}, and I am {age} years old."


print(introduce("arpita"))  # Output: My name is Bob, and I am 23 years old.

My name is arpita, and I am 23 years old.

In [11]:
def sum_numbers(numbers):

    """Sums all the numbers in a collection."""
    return sum(numbers)


result = sum_numbers([1, 2, 3, 4, 5])
print(result)  # Output: 15Passing a tuple to the function

15

In [14]:
x = 10  # Global variable


def outer_function():
    x = 20  # Enclosing variable
    def inner_function():
        x = 30  # Local variable
        print(x)  # Output: 30
    inner_function()
    print(x)  # Output: 20
outer_function()
print(x)  # Output: 10

30
20
10

In [16]:
     def greet(name, message):
         return f"Hello, {name}! {message}"
     print(greet("Arpita", "Welcome to the team!"))

Hello, Arpita! Welcome to the team!

In [18]:
     def greet(name, message="Welcome!"):
         return f"Hello, {name}! {message}"
     print(greet("Ananya"))  # Uses default message
     print(greet("Nandini", "Good to see you!"))  # Overrides default

Hello, Ananya! Welcome!
Hello, Nandini! Good to see you!

In [19]:
     def greet(*names):
         for name in names:
             print(f"Hello, {name}!")
     greet("Alice", "Bob", "Charlie")

Hello, Alice!
Hello, Bob!
Hello, Charlie!

In [20]:
     def describe_person(**info):
         for key, value in info.items():
             print(f"{key}: {value}")
     describe_person(name="Alice", age=30, job="Engineer")

name: Alice
age: 30
job: Engineer

In [21]:
def add(a, b):

    return a + b
result = add(5, 3)
print(result)  # Output: 8

8

In [22]:
def swap(a, b):

    return b, a
x, y = swap(1, 2)
print(x, y)  # Output: 2 1

2 1

In [23]:
counter = 0


def increment():
    global counter
    counter += 1
increment()
print(counter)  # Output: 1

1

In [24]:
  def modify_immutable(x):
      x += 1
      print(f"Inside function: {x}")
  a = 5
  modify_immutable(a)
  print(f"Outside function: {a}")  # Output: 5 (unchanged)

Inside function: 6
Outside function: 5

In [25]:
  def modify_mutable(lst):
      lst.append(4)
      print(f"Inside function: {lst}")
  my_list = [1, 2, 3]
  modify_mutable(my_list)
  print(f"Outside function: {my_list}")  # Output: [1, 2, 3, 4] (modified)

Inside function: [1, 2, 3, 4]
Outside function: [1, 2, 3, 4]

In [26]:
  def modify(x):
      print(f"Before: {id(x)}")
      x += 1
      print(f"After: {id(x)}")
  a = 5
  modify(a)

Before: 134430233756016
After: 134430233756048

In [27]:
  def modify(lst):
      print(f"Before: {id(lst)}")
      lst.append(4)
      print(f"After: {id(lst)}")
  my_list = [1, 2, 3]
  modify(my_list)

Before: 134428950757952
After: 134428950757952

In [29]:
def square(x):

    return x * x


f = square
print(f(5))  # Output: 25Passing a function as an argument


def apply_function(func, value):
    return func(value)
result = apply_function(square, 4)
print(result)  # Output: 16

25
16

In [30]:
def double(x):

    return x * 2
def triple(x):
    return x * 3
def apply_operation(func, number):
    return func(number)
print(apply_operation(double, 5))  # Output: 10
print(apply_operation(triple, 5))  # Output: 15

10
15

In [32]:
def print_numbers(*args):

    """Prints each number passed as an argument."""
    for number in args:
        print(number)

print_numbers(1, 2, 3, 4, 5)

1
2
3
4
5

In [35]:
def print_key_values(**kwargs):

    """Prints each key-value pair passed as keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")


print_key_values(name="Arpita", age=23, city="Angul")

name: Arpita
age: 23
city: Angul

In [38]:
def greet(*args, **kwargs):

    """Greets people and provides additional information."""
    for name in args:
        print(f"Hello, {name}!")

    for key, value in kwargs.items():
        print(f"{key}: {value}")


greet("Arpita", "nandini", age=23, city="dehradun")

Hello, Arpita!
Hello, nandini!
age: 23
city: dehradun

In [39]:
# Lambda function to add two numbers

add = lambda a, b: a + b
print(add(3, 5))  # Output: 8Using a lambda function with map


numbers = [1, 2, 3, 4]
squared = map(lambda x: x * x, numbers)
print(list(squared))  # Output: [1, 4, 9, 16]

8
[1, 4, 9, 16]

In [40]:
# Using map to square each number in a list

numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x * x, numbers)
print(list(squared))  # Output: [1, 4, 9, 16, 25]Using filter to get only even numbers from a list


even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[1, 4, 9, 16, 25]
[2, 4]

In [41]:
# Using map without converting the result

def square(x):
    return x * x
numbers = [1, 2, 3, 4, 5]
result = map(square, numbers)
print(result)  # This will print a map object, like

<map object at 0x7a432ddf5900>

In [42]:
# Converting the map object to a list

result = list(map(square, numbers))
print(result)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [45]:
def outer_function(text):

    def inner_function():
        return text.upper()
    return inner_function()

result = outer_function("hello")
print(result)  # Output: HELLO

HELLO

In [46]:
def make_multiplier(n):

    def multiplier(x):
        return x * n
    return multiplier
times_three = make_multiplier(3)
print(times_three(10))  # Output: 30

30