In [5]:
listA = [2, 4, 6, [1, 3]]
listB = listA
showDetails(listA,listB)
listB[1] = 44

showDetails(listA,listB)
listB[3][1] = 10


showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016544749312
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016544749312



The Value of 1 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 140016544749312
The Value of 2 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 140016544749312



The Value of 1 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 140016544749312
The Value of 2 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 140016544749312

In [7]:
listA = [2, 4, 6, [1, 3]]
listB = [x for x in listA]
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016546195840
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016544734400



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 140016546195840
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 140016544734400

In [8]:
listA = [2, 4, 6, [1, 3]]
listB = listA.copy()
showDetails(listA,listB)

listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016549313024
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016539166592



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 140016549313024
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 140016539166592

In [9]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.copy(listA)

showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016544331584
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016544171008



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 140016544331584
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 140016544171008

In [10]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.deepcopy(listA)
showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016277195648
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016543210688



The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 140016277195648
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 140016543210688

In [11]:
class Pony():
    def __init__(self, n):
        self.name = n

# copy.copy on an object gives you 2 unique objects (with same attributes)
pony1 = Pony('Pinto')
pony2 = copy.copy(pony1)
showDetails(pony1,pony2)

print(id(pony1), id(pony2))

# copy.copy on a list of objects gives you 2 unique lists containing the exact same objects
# (ie. new list is a shallow copy)
m = [pony1, pony2]
n = copy.copy (m)
print(id(m[0]), id(n[0]))

# use copy.deepcopy to deep copy a list of objects
n = copy.deepcopy (m)
print(id(m[0]), id(n[0]))

The Value of 1 variable is 	<__main__.Pony object at 0x7f5824136a40>	 its id is 	 140016539101760
The Value of 2 variable is 	<__main__.Pony object at 0x7f5824135c90>	 its id is 	 140016539098256



140016539101760 140016539098256
140016539101760 140016539101760
140016539101760 140016539094416