In [1]:
if True:

    print("This is inside the if block.")
print("This is outside the if block.")

This is inside the if block.
This is outside the if block.

In [2]:
x = 10

if x > 5:
    print("x is greater than 5.")

x is greater than 5.

In [4]:
a = 10

b = 5
if a > b and b > 0:
    print("Both conditions are true.")

Both conditions are true.

In [5]:
a = 6  # (in binary: 110)

b = 3  # (in binary: 011)
print(a & b)  # Bitwise AND
print(a | b)  # Bitwise OR
print(a ^ b)  # Bitwise XOR
print(~a)     # Bitwise NOT
print(a << 1) # Left shift
print(a >> 1) # Right shift

2
7
5
-7
12
3

In [6]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [15]:
for i in range(5):

    print(i)

0
1
2
3
4

In [16]:
for i in range(0, 10):

    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
str1 = "hello world"

result = "hello" in str1
print(result)

True