In [1]:
print("Hello, World!")

Hello, World!

In [4]:
x = 10        # x is an integer

x = "Hello"   # x is now a string

print(x)

Hello

In [7]:
x = 10

print(id(x))  # Output: Address of x
x = x + 1
print(id(x))  # Output: New address, since x is now a new object
y = "Hello"
print(id(y))  # Output: Address of y
y = y + " World"
print(id(y))  # Output: New address, since y is now a new object

136006027903504
136006027903536
136005578470832
136005578464880

In [8]:
z = [1, 2, 3]

print(id(z))  # Output: Address of z
z.append(4)
print(id(z))  # Output: Same address, even though the contents have changed

136005578464704
136005578464704

In [9]:
if 5 > 2:

 print("Five is greater than two!")  # Indentation is crucial in Python

Five is greater than two!

In [10]:
# This is a single-line comment

print("Hello, World!")  # This is an inline comment
"""
This is a
multi-line comment
or docstring
"""

Hello, World!

'\nThis is a\nmulti-line comment\nor docstring\n'

In [11]:
my_string = "hello, world!"

print(my_string.upper())  # Output: HELLO, WORLD!
print(my_string.capitalize())  # Output: Hello, world!
print(my_string.replace("world", "Python"))  # Output: hello, Python!

HELLO, WORLD!
Hello, world!
hello, Python!

In [12]:
# Concatenation

str1 = "Hello"
str2 = "World"
result = str1 + " " + str2  # Output: "Hello World"Repetition


result = str1 * 3  # Output: "HelloHelloHello"Membership


print("H" in str1)  # Output: True
print("Z" not in str1)  # Output: True

True
True

In [13]:
str1 = "Hello"

str2 = "World"
result = str1 + " " + str2
print(result)  # Output: Hello World

Hello World

In [14]:
str1 = "Hi"

result = str1 * 3
print(result)  # Output: HiHiHi

HiHiHi

In [15]:
str1 = "Hello World"

print("World" in str1)     # Output: True
print("world" not in str1) # Output: True (case-sensitive)

True
True

In [16]:
str1 = "Python"

print(str1[0])    # Output: P (first character)
print(str1[-1])   # Output: n (last character)
print(str1[0:3])  # Output: Pyt (slice from index 0 to 2)

P
n
Pyt

In [17]:
str1 = "apple"

str2 = "banana"
print(str1 == str2)  # Output: False
print(str1 < str2)   # Output: True (because "a" < "b")

False
True

In [18]:
str1 = "He said, \"Hello!\""

print(str1)  # Output: He said, "Hello!"
str2 = "Line1\nLine2"
print(str2)  # Output:
 # Line1
 # Line2

He said, "Hello!"
Line1
Line2

In [19]:
str1 = r"C:\Users\name\docs"

print(str1)  # Output: C:\Users\name\docs

C:\Users\name\docs

In [21]:
# Old-style formatting

name = "Arpita"
age = 23
print("My name is %s and I am %d years old." % (name, age))  # Output: My name is Alice and I am 30 years old.Using format()


print("My name is {} and I am {} years old.".format(name, age))  # Output: My name is Alice and I am 30 years old.Using f-strings (Python 3.6+)

My name is Arpita and I am 23 years old.
My name is Arpita and I am 23 years old.

In [22]:
str1 = "Hello"

print(len(str1))  # Output: 5

5

In [23]:
str1 = "hello"

print(str1.upper())  # Output: HELLO

HELLO

In [26]:
name = "Arpita"

age = 23
message = "My name is {} and I am {} years old.".format(name, age)
print(message)  # Output: My name is Alice and I am 30 years old.

My name is Arpita and I am 23 years old.

In [30]:
x = 10       # Integer

y = 3.14     # Float
z = 1 + 2j   # Complex number
print(x)
print(y)
print(z + y)

10
3.14
(4.140000000000001+2j)

In [32]:
a = 10

b = -25
c = 12345678901234567890  # Large integer
print(a)
print(b)
print(c-b)

10
-25
12345678901234567915

In [33]:
d = 3.14159

e = -2.71828
f = 1.0
print(f)

1.0

In [35]:
g = 3 + 4j

h = -5j
i = 2.5 + 0j
print(i)

(2.5+0j)

In [37]:
complex1 = 2 + 3j

complex2 = 1 + 4j
result = complex1 + complex2  # Output: (3+7j)
print(complex2)

(1+4j)

In [40]:
import sys

x = 42
size = sys.getsizeof(x)
print(f"Size of x: {size} bytes")

Size of x: 28 bytes

In [41]:
x = 42

variable_type = type(x)
print(f"Type of x: {variable_type}")

Type of x: <class 'int'>

In [42]:
x = 42

memory_location = id(x)
print(f"Memory location of x: {memory_location}")

Memory location of x: 136006027904528

In [43]:
import sys

x = 42
size = sys.getsizeof(x)
variable_type = type(x)
memory_location = id(x)
print(f"Size of x: {size} bytes")
print(f"Type of x: {variable_type}")
print(f"Memory location (id) of x: {memory_location}")

Size of x: 28 bytes
Type of x: <class 'int'>
Memory location (id) of x: 136006027904528